*{
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: rgb(231, 39, 39);
}
#header_title {
  text-align: center;
  margin-top: 100px;
}
#timer {
  width: 75%;
  margin: 100px auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

#timer div {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid red;
  font-weight: bold;
  font-size: 30px;
  border-radius: 5px;
  padding: 30px 10px;
}